@charset "utf-8";

/*
* Final project CIS 370
 * going to the races
 * Assistance with stop light from Florin Pop
 * Traffic Lights Simulator with CSS and JavaScript
 * Date - 11/14/20
 * @author Helen Lee
 */


html{
	 background-image: url(darkForest.png);
	 background-repeat: round;
	 display: absolute;
	align-items: left;
	justify-content: left;
	min-height: 100vh;
	margin: 0;
	top: 100px;
	left: 100px;
 }

body {
	color: white;
	font-size: 1.5em;
}

.stopLight {
	background-color: gray;
	border-radius: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction: row;
	padding: 10px;
	height: 30px;
	width: 100px;
	
	
	
}

.circle {
	background-color: white;
	border-radius: 50%;
	position: relative;
	height: 20px;
	width: 20px;
	top: 5px;
}

.circle:after {
	content:"";
	border-radius: 50%;

	width: 20px;
	height: 20px;
	position: absolute;
	
} 

.circle.red {
	background-color: red;
	box-shadow: 0 0 20px 5px white;
}

.circle.yellow {
	background-color: yellow;
	box-shadow: 0 0 20px 5px white;
}
.circle.green {
	background-color: green;
	box-shadow: 0 0 20px 5px white;
}


#vampire{
  width: 125px;
  height: 125px;
  position: relative;
   left: 0px;
  top: 0px;
  border-radius: 50px;
  box-shadow: black 0px 0px 20px 10px;
}

  #vampireWin {
    position: relative;
	display: none;
	border-radius: 50px;
	box-shadow: black 0px 0px 20px 10px;
  }

#werewolf{
  width: 125px;
  height: 125px;
  position: relative;
  left: 0px;
  top: 0px;
  border-radius: 50px;
  box-shadow: black 0px 0px 20px 10px;
}

 
  #werewolfWin {
    position: relative;
    display: none;
	border-radius: 50px;
	box-shadow: black 0px 0px 20px 10px;
  }